<!DOCTYPE html>
<html lang="en">
<head>
<title>Soldiers life</title>
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="/landing_page/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/landing_page/img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<!--CSS-->
<link rel="stylesheet" href="/landing_page/css/bootstrap.css" >
<link rel="stylesheet" href="/landing_page/css/style.css">
<link rel="stylesheet" href="/landing_page/css/touchTouch.css">
<link rel="stylesheet" href="fonts/font-awesome.css">
<!--JS-->
<script src="/landing_page/js/jquery.js"></script>
<script src="/landing_page/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/landing_page/js/superfish.js"></script>
<script src="/landing_page/js/jquery.easing.1.3.js"></script>
<script src="/landing_page/js/jquery.mobilemenu.js"></script>
<script src="/landing_page/js/jquery.equalheights.js"></script> 
<script src="/landing_page/js/jquery.ui.totop.js"></script>
<script src="/landing_page/js/touchTouch.jquery.js"></script>
<script>
   $(window).load(function() {
     // Initialize the gallery
    $('.trainerBox figure a').touchTouch();
  });
</script>
<!--[if lt IE 9]>
    <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>  
  <![endif]-->
  <!--[if lt IE 9]><script src="../docs-assets//landing_page/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond./landing_page/js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--header-->
<div class="main">
<header>
    <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="navbar-brand navbar-brand_"><a href="index.html"><img src="/landing_page/img/logo.gif" alt="" style="width:25%;"></a></h1>
                <div class="menuBox clearfix">
                    <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                            <ul class="nav sf-menu clearfix">
                                <li class="active"><a href="/landing">Home</a></li>
                                <li class="sub-menu"><a href="#">About<span></span></a>
                                    <ul class="submenu">
                        				<li><a href="/directorate">Directorate</a></li>
                        				<li>
                                            <a href="index.html#">Unit</a>
                                            <ul class="submenu">
                                                <li><a href="/units/1">111 Kumaon</a></li>
                                                <li><a href="/units/1">150 Punjab</a></li>
                                                <li><a href="/units/1">174 Engineers</a></li>
                                            </ul>
                                        </li>
                        			</ul>
                                </li>
                                <li><a href="/policies">TA Policies</a></li>
                                <li><a href="/galary">Gallery</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/users/sign_in">Login</a></li>
                            </ul>
                        </nav>
                </div>
            </article>
        </div>
    </div>
</header>
<section class="sub_pic">
    <figure><img src="/landing_page/img/sub_pic.jpg" alt=""></figure>
</section>
<div class="global indent">
    <!--content-->
    <div class="container">
        <div class="row">
            <article class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="trainer-box">
                    <h3>Brief</h3>
                    <h5>The origin of the Territorial Army can be traced back to 1857. It was raised as “Volunteers” and were recruited only from the Europeans & Anglo-Indians.</h5>
                    <p>On 01 October 1920, the Indian Territorial Force Bill was passed resulting in the reorganization of the Territorial Army into two separate wings, namely, the Auxiliary Force & the Indian Territorial Force. While the former was meant only for the Europeans and Anglo-Indians, the latter for the Indians.</p>
                    <p>
                        After Independence in 1947, the Territorial Army Act was enacted on 18 August 1948 by the Constituent Assembly resulting in the constitution of the present Territorial Army.
                    </p>
                </div>
                <div class="trainer-box">
                    <h3>Type of Activity</h3>
                    <h5>The Territorial Army is active in numerous field. It has following types of units:-</h5>
                    <ul class="list1-1">
                        <li><a href="#">Infantry Battalions including Home & Hearth Battalions.</a></li>
                        <li><a href="#">Ecological Task Forces.</a></li>
                        <li><a href="#">Railway Engineer units.</a></li>
                        <li><a href="#">Oil Sector units.</a></li>
                        <li><a href="#">Engineer units for Line of Control Fencing.</a></li>
                        <li><a href="#">One Composite Ecological Task Force (National Mission for Clean Ganga) is also under raising at Allahabad.</a></li>
                    </ul>
                </div>
                <div class="who-box">
                    <h3>TERRITORIAL ARMY CELEBRATES 68TH RAISING DAY</h3>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            <figure><img src="/landing_page/img/ta_day.jpg" alt=""></figure>
                            <div class="caption">
                                <h5>Calling on His Excellency the President of India on the occasion of 68th TA Day on October 09, 2017</h5>
                                <p>Territorial Army celebrated its 68th Raising Day on 09 Oct 2017. As per tradition, the TA fraternity led by ADG TA, Major General DA Chaturvedi, called on His Excellency, the President of India and payed their respect to the supreme Commander of the Armed Forces. The Hon’ble President also interacted with the NOKs of Martyrs of TA. In the run-up to the raising day several events were organised across the country.</p>
                                <p>In Delhi Territorial Army organised a half marathon on Oct 02, 2017 in the true spirit of Citizens’ Army and also to promote healthy life style. The event comprised 5 Km, 10 Km and 21 Km run and was flagged off from Carriapa Parade Ground, Delhi Cantt by Lieutenant General AK Bhatt, AVSM, SM, VSM, DGMO and Lt Col (Hony) Kapil Dev.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-8 col-md-8 col-sm-6 history-box">
                <h3>History</h3>
                <ul class="list6">
                    <li>
                        <div class="badge">01</div>
                        <div class="extra-wrap">
                            <h5>The Territorial Army was raised by the Britishers in 1920 through Indian Territorial Act of 1920 and it was org into two wings namely - 'The Auxiliary Force' for Europeans & Anglo-Indians, and 'The Indian Territorial Force' for Indian Volunteers. </h5>
                            <p>After Independence Territorial Army Act was passed in 1948 and the Territorial Army was formally inaugurated by the first Indian Governor General Shri C Rajagopalachari on 09 Oct 1949. This date is being celebrated as Prime Minister's TA Day Parade every year.</p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">02</div>
                        <div class="extra-wrap">
                            <h5>The Territorial Army initially had various types of units.</h5>
                            <p>
                                <ul class="list1-1">
                                    <li>Armed Regt (TA)</li>
                                    <li>Infantry Battalion (TA)</li>
                                    <li>Infantry Battalion (TA)</li>
                                    <li>Air Defence (TA)Med Regt (TA)</li>
                                    <li>Engineers Field Park Coy (TA)</li>
                                    <li>Signal Regiment (TA)</li>
                                    <li>EME Workshop (TA)</li>
                                    <li>Coast Battery (TA)</li>
                                    <li>ASC GT Coy (TA)</li>
                                    <li>ASC Compo Platoon (TA)</li>
                                    <li>AMC Field Ambulance (TA)</li>
                                </ul>
                            </p>
                            <p>
                                By 1972 these units have either been disbanded or converted to Regular Army except Inf Bn (TA).
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">03</div>
                        <div class="extra-wrap">
                            <p>The Territorial Army is part of Regular Army and its present role is to relieve the Regular Army from static duties and assist civil administration in dealing with natural calamities and maintenance of essential services in situations where life of the communities is affected or the Security of the Country is threatened and to provide units for Regulars Army as and when required.</p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">04</div>
                        <div class="extra-wrap">
                            <p>Presently the Territorial Army has a strength approx. 40000 persons comprising of Departmental TA units such as Railway, IOC, ONGC, and Non Departmental TA units of Infantry Battalion (TA) including Home & Hearth Battalions, Ecological Battalion (TA) affiliated to various Infantry Regiments and Engineer Regiment (TA) for maintenance of Line of Control Fencing.</p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">05</div>
                        <div class="extra-wrap">
                            <p>The TA units were actively involved in 1962, 1965 and 1971 operations. The "Terriers" have also taken part in OP-PAWAN in Srilanka, OP RAKSHAK in Punjab & J&K, OP RHINO and OP BAJRANG in North East in a most active manner. Departmental units came to the aid of the civil authorities during Industrial unrest and natural calamities, most famous being earthquake in Latoor (Maharastra), Uttarkashi in Garhwal Himalaya and the Super Cyclone in Orissa. The Ecological units have arrested man made environmental degradation by planting 2.5 crore trees over 20,000 hectare of land in Mussoori Hills & Pithoragarh (UP), Bikaner & Jaisalmer (Rajasthan) and ravines of Chambal in Madhya Pradesh.</p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">06</div>
                        <div class="extra-wrap">
                            <p>Men of TA have taken active part in various adventure activities, famous one being scaling of Mt Tengchen Khang (6010 Mtr) in West Sikkim by Jt-Indo-British TA Mountaineering Expedition in May 98. The officer and men of the Territorial Army have been decorated for their gallantry and distinguished services. So for they have earned 02 Ati Vishisht Seva Medal (AVSM), 15 VSM, 05 Vir Chakra, 13 Sena Medal, 25 Mentioned-in-Despatches and 43 COAS commendation card.</p>
                        </div>
                    </li>
                    <li>
                        <div class="badge">07</div>
                        <div class="extra-wrap">
                            <p>Many industrialists, politicians and eminent personalities have been members of the TA. The force also has the honour to appoint 11 officers as Hony ADC to the President of India.</p>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </div>
    <section class="testimBox"> 
        <div class="container">
            <hr>
            <h3>Our ADG</h3>
            <div class="row">
                <article class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad3">
                        <div class="thumbnail maxheight">
                            <figure><img src="/landing_page/img/taADG.jpg" alt="" style="max-height:350px;"></figure>
                            <div class="caption">
                                <a href="#">Major General DA Chaturvedi</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
</div>
<!--footer-->
<footer>
    <hr>
    <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <figure><img src="/landing_page/img/foo_logo.jpeg" style="width:20%" alt=""></figure>
                <p>&copy; <em id="copyright-year"></em> | <a href="index-6.html">Privacy Policy</a></p>
            </article>
        </div>
    </div>
</footer>
<script src="/landing_page/js/bootstrap.min.js"></script>
<script src="/landing_page/js/tm-scripts.js"></script>
</body>
</html>