<!DOCTYPE html>
<html lang="en">
<head>
<title>home</title>
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/landing_page/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/landing_page/img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<meta name = "format-detection" content = "telephone=no" />
<!--CSS-->
<link rel="stylesheet" href="/landing_page/css/bootstrap.css" >
<link rel="stylesheet" href="/landing_page/css/style.css">
<link rel="stylesheet" href="/landing_page/css/camera.css">
<!--JS-->
<script src="/landing_page/js/jquery.js"></script>
<script src="/landing_page/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/landing_page/js/superfish.js"></script>
<script src="/landing_page/js/jquery.easing.1.3.js"></script>
<script src="/landing_page/js/jquery.mobilemenu.js"></script>
<script src="/landing_page/js/jquery.ui.totop.js"></script>
<script src="/landing_page/js/jquery.equalheights.js"></script>
<script src="/landing_page/js/camera.js"></script>
<!--[if (gt IE 9)|!(IE)]><!-->
      <script src="/landing_page/js/jquery.mobile.customized.min.js"></script>
<!--<![endif]-->
<script src="/landing_page/js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script src="/landing_page/js/jquery.mousewheel.min.js"></script>
<script src="/landing_page/js/jquery.touchSwipe.min.js"></script>
<script src="/landing_page/js/sForm.js"></script>
<script>
$(window).load(function() {
    $(function() {
            $('#foo1').carouFredSel({
				auto: false,
				responsive: true,
				width: '100%',
				prev: '#prev',
				next: '#next',
				scroll: 1,
				items: {
					height: 'auto',
					width:100,
					visible: {
						min: 1,
						max: 21
					}
				},
				mousewheel: true,
				swipe: {
					onMouse: true,
					onTouch: true
				}
			});
		}); 	 				
    });
</script> 
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
</head>
<body>
<!--header-->
<div class="main">
    <header>
        <div class="container">
            <div class="row">
                <article class="col-lg-12 col-md-12 col-sm-12">
                    <h1 class="navbar-brand navbar-brand_"><a href="index.html"><img src="/landing_page/img/logo.gif" alt="" style="width:50%;"></a></h1>
                    <div class="menuBox clearfix">
                        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                            <ul class="nav sf-menu clearfix">
                                <li class="active"><a href="/landing">Home</a></li>
                                <li class="sub-menu"><a href="#">About<span></span></a>
                                    <ul class="submenu">
                        				<li><a href="/directorate">Directorate</a></li>
                        				<li>
                                            <a href="index.html#">Unit</a>
                                            <ul class="submenu">
                                                <li><a href="/units/1">111 Kumaon</a></li>
                                                <li><a href="/units/1">150 Punjab</a></li>
                                                <li><a href="/units/1">174 Engineers</a></li>
                                            </ul>
                                        </li>
                        			</ul>
                                </li>
                                <li><a href="/policies">TA Policies</a></li>
                                <li><a href="/galary">Gallery</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/users/sign_in">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </header>
    <article class="slider">
        <div class="camera_wrap">
            <div data-src="/landing_page/img/picture1.jpg">
                <div class="camera-caption fadeIn">
                    <p class="title">Vigilance and Valour</p><p class="descrip"></p></div></div>
            <div data-src="/landing_page/img/p1.jpeg"><div class="camera-caption fadeIn"><p class="title">सावधानी व शूरता</p><p class="descrip"></p></div></div>
        </div>
    </article>
    <div class="global">
        <div class="container">
            <div class="row">
                <section class="bannerBox clearfix">
                    <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight">
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pic1.png" alt=""></a></figure>
                        <div class="caption">
                            <p class="title">Infantry</p>
                        </div>
                    </article>
                    <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight">
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pic2.png" alt=""></a></figure>
                        <div class="caption">
                            <p class="title">Ecological battalions</p>
                        </div>
                    </article>
                    <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight">
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pic3.png" alt=""></a></figure>
                        <div class="caption">
                            <p class="title">Landing</p>
                        </div>
                    </article>
                    <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight">
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pic4.png" alt=""></a></figure>
                        <div class="caption">
                            <p class="title">Navy</p>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <section class="smallPic">
            <div class="list_carousel1 responsive clearfix">
                <ul id="foo1">
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict1.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict2.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict3.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict4.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict5.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict6.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict7.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict8.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict9.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict10.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict11.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict12.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict13.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict14.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict15.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict16.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict17.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict18.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict19.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict20.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict21.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict22.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict23.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict24.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict25.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict26.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict27.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict28.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict1.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict2.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict3.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict4.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict5.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict6.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict7.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict8.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict9.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict10.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict11.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict12.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict13.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict14.jpg" alt=""></a></figure>
                    </li>
                    <li>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict15.jpg" alt=""></a></figure>
                        <figure><a href="index.html#"><img src="/landing_page/img/page1_pict16.jpg" alt=""></a></figure>
                    </li>
                </ul>
                <div class="foo-btn">
                    <a id="prev" class="prev" href="index.html#"></a>
                    <a id="next" class="next" href="index.html#"></a>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                 <% @news.each do |n| %>
                    <article class="col-lg-3 col-md-6 col-sm-6 col-xs-6 banner-box">
                        <div>
                            <figure><img src="/landing_page/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <div class="badge">12<br>10</div>
                                <p class="title2"><%= n.caption %></p>
                                <p><%= n.description %></p>
                            </div>
                        </div>
                    </article>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <figure><img src="/landing_page/img/foo_logo.jpeg" style="width:20%" alt=""></figure>
                <p>&copy; <em id="copyright-year"></em> | <a href="index-6.html">Privacy Policy</a></p>
            </article>
        </div>
    </div>
  <!-- {%FOOTER_LINK} -->
</footer>
<script src="/landing_page/js/bootstrap.min.js"></script>
<script src="/landing_page/js/tm-scripts.js"></script>
</html>