<div class="page-wrapper" style="margin-left: 230px !important;">
    <%= render 'form', personel_detail: @personel_detail %>
</div>

<%= link_to 'Show', @personel_detail %> |
<%= link_to 'Back', personel_details_path %>
