<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active"> 
                    <a href="index.html"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-user"></i> <span> JCO's/OR's</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/personel_details">All JCO's/OR's</a></li>
                        <li><a href="/loans">Loans</a></li>
                        <li><a href="/investments">Investment </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/service_particulars"><i class="la la-user"></i> <span>Service Particulars</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/service_particulars">Services</a></li>
                        <li><a href="/leave_records">Leave Records</a></li>
                        <li><a href="/posting_records">Posting Records</a></li>
                        <li><a href="/medical_cats">Medical Cats</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>